header {
    z-index: 1;
    background-color: #ffffff;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    border-bottom: 1px solid #1930ff;
}
.main, .mainCam, .contentAccount {
    margin-top:130px;
}
.content {
    height:50px;
    width:auto;
    margin: auto;
}
.content h1 {
    font-size: 1.8em;
    text-align:center;
    margin: 0;
}
.top-navbar {
    height: 50px;
    padding-top: 10px;
}
.navbar {
    width: 60%;
    display: flex;
    justify-content: center;
    margin:auto
}
.navbar a {
    width: 100px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    text-shadow:none;
    color: #222222;
    font-size:1.3em;
}
.navbar > a:hover {
    color: #111111;
    background-color: #99e0ff;
}
.navbar > a:active {
    background-color: #99e0ff;
}
.top-navImg, .navImg, .menuIcon {
    display: none;
}
@media only screen and (max-width: 719px) {

    header {
        display: flex;
        flex-direction: row-reverse;
    }
    .main, .mainCam, .contentAccount {
        margin-top: 70px;
    }
    .navbar, .navbar a {
        display: none;
    }
    .menuIcon {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        padding-top:15px;
        margin-left:15px;
    }
    .content h1 {
        margin-top: 8px;
        font-size: 1.5em;
    }
    .top-navImg {
        display: flex;
        flex-direction: column;
    }
    .navList, .navImg {
        display: none;
    }
    .navImg {
        position: absolute;
        flex-direction: column;
        margin-top:50px;
        margin-left:10px;
        width: 40px;
        height: 200px;
    }
    .navImg:nth-child(2) {
        top: -37px;
        left: 42px;
    }
    .navList {
        display: none;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #ffffff;
    }
    .navList img {
        width: 25px;
        height: 25px;
        padding-left: 7px;
        padding-top: 5px;
    }
    .navList:hover {
        opacity: 0.6;
    }

}
@media only screen and (max-width: 480px) {
    .fixedTitle {
        display:none;
    }
}