li {
	list-style-type: none;
}
body {
	font-family: "Avenir", 'monospace';
	font-size:1em;
	background-color: #eeeeee;
	padding:0;
	margin:0;
}
h1, h2 {
	font-family:"PT Sans", "monospace";
}
a {
	color: #4977ff;
	text-decoration: none;
}
input, textarea {
	background-color: #ffffff;
	color: black;
}
a:hover {
	text-shadow: 0 0 1px #99e0ff;
}

/*statics */
#photo, #video {
	width:305px;
	height:225px;
}
#staticPhoto, #staticVideo {
	position:absolute;
	left:0;
	bottom:2px;
}
.output, #videoBox {
	position: relative;
	display: inline;
}


