li {
    list-style: none;
}

ul li {
    display: inline;
}

header {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: black;
    color: white;
    text-shadow: rgb(255,80,0) 0px 1px 5px;

}

.headerBox {
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}